.RegistrationPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding-bottom: 32px;
  padding-top: 5rem;
}
.SignInButton {
  padding-top: 16px;
}
