.searchArea {
  /* background-color: #fff; */
  float: right;
  margin: 3px 12px 0px 12px;
  /* height: 39px; */
  /* margin-top: 3px;
    /* margin-bottom: 0px; */
  border: 2px solid black;
  height: 34px;
}
.searchArea input {
  height: 29px;
  outline: none;
  border: none;
}
