.searchArea {
    border: 2px solid #3c3f41;
    box-shadow: 0 0 8px 0 #3C3F41A0;
    border-radius: 4px;
    margin: 0 16px;
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
}

.searchArea input {
    height: 29px;
    outline: none;
    border: none;
    border-radius: 4px;
    text-indent: 4px;
}

.searchArea input::placeholder {
    font-weight: 600;
}

.searchBtn {
    height: 29px !important;
    border: none;
    border-radius: 4px;
    margin-right: 0 !important;
}