.searchArea {
  border: 2px solid #000;
  border-radius: 20px;
  padding-left: 9px;
  padding-top: 3px;
}
.searchArea input {
  height: 29px;
  outline: none;
  border: none;
}

.searchArea input::placeholder {
  font-weight: 600;
}

.searchBtn {
  height: 29px !important;
  border: none;
  border-radius: 60px;
}
.closeBtn {
  height: 29px !important;
  border-radius: 60px;
}
