.Navbar {
    text-align: start;
    width: 100%;
    line-height: 2rem;
    background-color: #ffff;
    display: flex;
    padding: 8px 16px;
}

.CompanyLogoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.companyLogo {
    height: 32px;
}

.navigatorButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 2;
}

.navigatorButton img {
    height: 40px;
    width: 40px;
}

.MenuDrawer {
    height: 40px;
}

.Navbar p {
    display: inline-block;
    margin: 8px 0 8px 8px;
    font-size: 1.5rem;
}

.Navbar button {
    float: right;
    height: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 5px;
}

@media only screen and (max-width: 550px) {
    .Navbar p {
        font-size: 1rem;
    }
}
