.SignIn {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.showHidePassword {
  position: absolute;
  top: 20%;
  left: 85%;
  cursor: pointer;
}

@media only screen and (min-width: 500px) {
  .showHidePassword {
    left: 90%;
  }
}
