.SignIn {
  text-align: center;
}

.showHidePassword {
  position: absolute;
  top: 20%;
  left: 85%;
  cursor: pointer;
}

@media only screen and (min-width: 500px) {
  .showHidePassword {
    left: 90%;
  }
}
