@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

.Footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #333333;
  color: #f2f2f2;
  padding: 30px 50px;
}

.companyInfo {
  padding-left: 30px;
  padding-right: 10rem;
  text-align: start;
  border: 2px solid #f2f2f2;
  border-left: none;
  border-top: none;
  border-bottom: none;
}

.CompanyName {
  font-family: "Train One", cursive;
  font-size: 2rem;
}

.companyInfo address {
  font-family: "Oswald", sans-serif;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5rem;
  padding-right: 10rem;
}

.contactInfo img {
  padding: 5px;
  border: 2px solid #7a9e9f;
  border-radius: 50%;
  margin-right: 4rem;
}

.contactInfo img:hover {
  background-color: #acafa4;
  box-shadow: -7px -1px 15px 0px rgba(0, 0, 0, 0.75);
}

.SocialMediaInfo {
  padding-left: 5rem;
  padding-right: 5rem;
}

.SocialMediaInfo > div {
  display: flex;
  justify-content: center;
}

.SocialMediaConnect {
  display: flex;
  justify-content: space-evenly !important;
  margin-bottom: 5rem;
}

.SocialMediaConnect > * img {
  width: 40px;
  height: 40px;
}

.SocialMediaConnect > * span {
  font-family: "Oswald", sans-serif;
  /* height: 50px; */
}

.ConnectHeading {
  width: 38%;
  padding: 8px 16px;
  font-family: "Oswald", sans-serif;
  border: 2px solid #f2f2f2;
}

.CreateMessage {
  float: none;
  font-family: "Train One", cursive;
  /* margin-left: 26rem; */
  font-size: 20px;
}
