.SubjectListTableContainer {
  height: 100%;
  margin: 20px 0 20px 0;
}

.NoSubjectHeader {
  text-align: center;
  width: 20%;
  margin: 0 40%;
  border: 2px solid #dc3545;
  border-radius: 10px;
  height: 3rem;
  padding: 6px 0;
}

.NoSubjectHeader:hover {
  background-color: #dc3545;
  color: #fff;
  border-radius: 30px;
  transition: all ease-in 0.25s;
}
